.chatMessage {
    .messAvata {
        width: 40px;
        overflow: hidden;
        border-radius: 4px;
        display: flex;
        flex: 40px 0 0;
        height: 32px;
        justify-content: space-around;
    }
}