@import '../../styles/mixin-color.scss';

.chatMessage {
    .messAvata {
        overflow: hidden;
        border-radius: 4px;
        display: flex;
        flex: 35px 0 0;
        height: 35px;
        justify-content: space-around;
        align-items: center;
        background-color: $color-green-2;
    }

    &.messOfChat {
        .messAvata {
            background-color: $color-green;
        }
    }
    
}