.chatRow {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;

    p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 200px;

        &:first-letter {
            text-transform: capitalize;
        }
    }
}