@import '../../../styles/mixin-color.scss';

.loginForm {
    max-width: 450px;
    margin: 30px auto 0;

    h1 {
        text-align: center;
        font-size: 30px;
    }

    input {
        padding: 10px;
        border: 1px solid $color-green;
        margin-top: 20px;
        width: 100%;
    }

    button, a {
        background-color: $color-green;
        border: 1px solid $color-green;
        color: $color-white;
        text-align: center;
        width: 100%;
        margin-top: 30px;
        padding: 10px 0;
        display: block;

        &:hover {
            opacity: 0.8;
        }
    }

    a {
        margin-top: 20px;
    }
}