@import '../../../styles/mixin-color.scss';

.loginForm {
    max-width: 320px;
    margin: 30px auto 0;

    .error {
       margin-top: 20px;
       color: red;
    }

    h1 {
        text-align: center;
        font-size: 30px;
    }

    input {
        padding: 10px;
        border: 1px solid $color-green;
        margin-top: 20px;
        width: 100%;
        border-radius: 3px;
    }

    button{
        background-color: $color-green;
        border: 1px solid $color-green;
        color: $color-white;
        text-align: center;
        width: 100%;
        margin-top: 30px;
        padding: 10px 0;
        display: block;
        border-radius: 3px;


        &:hover {
            opacity: 0.8;
        }
    }

    a {
        margin-top: 20px;
    }

    .textBottom {
        text-align: center;
        margin-top: 20px;

        a {
            color: $color-green;
            padding-right:10px ;
        }
    }

    .buttonsConnect {
        margin-top: 30px;
    }

    .buttonIcon {
        border: 1px solid $color-green;
        padding: 8px 10px;
        text-align: left;
        display: flex;
        width: 100%;
        border-radius: 3px;
        align-items: center;
        cursor: pointer;
        color: $color-black;

        &:hover {
            background:rgba($color-green, 0.2);
        }

        img {
            margin-right: 10px;
            width: auto;
            height: 20px;
        }
    }
}

.groupInput {
    position: relative;
}

.showPass {
    position: absolute;
    top: 33px;
    cursor: pointer;
    right: 8px;
}