@import '../../styles/mixin-color.scss';


.sidebar {
    background-color: #202123;
    position: relative;
    width: 400px;
    padding: 0 10px;
    height: 100vh;

    @include mq('lg', max){
        height: 100%;
    }

    .contentRow {
        position: absolute;
        top: 60px;
        left: 0;
        height: calc(100vh - 120px);
        margin-bottom: 60px;
        overflow-y: auto;
        width: 100%;
    }

    .closeToggle {
        position: absolute;
        right: -54px;
        top: 0;
        color: $color-white;
        width: 53px;
        height: 53px;
        display: flex;
        justify-content: space-around;
        text-align: center;
        border: 1px solid $color-gray-2;
        background: $color-black;
        display: none;
        cursor: pointer;
        align-items: center;
    }


    @include mq(lg, max) {
        position: fixed;
        left: 0;
        top: 0;
        transition: all 0.3s ease-out;
        transform: translate(-125%);
        width: 260px;

        &.openMenu {
            transform: translate(0);
        }

        .closeToggle {
            display: flex;
        }
    }
    
    &.openMenu {
        transform: translate(0);
    }

    .logOut {
        cursor: pointer;
        padding: 15px 5px 15px 20px;
        color: rgb(209 213 219);
        bottom: 0;
        position: absolute;
        background: $color-black;
        width: 100%;
        left: 0;

        svg {
            margin-right: 10px;
        }
    }

    .menuBottom {
        position: absolute;
        background-color: $color-black;
        width: calc(100% - 20px);
        left: 10px;
        border-radius: 10px;
        padding: 10px 10px;
        bottom: 55px;
        transition: all .4s ease;
        opacity: 0;
        z-index: -1;

        li {
            padding: 10px;
            border-bottom: 1px solid $color-gray-2;
            font-size: 0.9em;
            display: flex;
            align-items: center;
            &:hover {
               background-color: $color-gray-2; 
            }

            &:last-child {
                border: none;
            }
        }

        &.openMenu {
            opacity: 1;
            bottom: 60px;
            z-index: 2;
        }
    }
    
}